body {
  background-color: #d3d3db;
}

footer {
  background-color: #bba14f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

p {
  font-family: "Libre Baskerville", serif;
  padding: 6px;
}
